{% load staticfiles %}
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
	<script src="{% static "js/main.js" %}"></script>

	<!-- nombre que lleva la pagina en la pestaña -->
    <title>Observatorio de Comida</title>
 
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "css/bootstrap-theme.min.css" %}" rel="stylesheet">
	

	<!-- barra de navegacion -->
	
	<div class="navbar-collapse collapse navbar-responsive-collapse">
	    <ul class="nav navbar-nav">
	    <li><a href="http://127.0.0.1:8000/observatorio">
		<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
			Principal
		</a></li>
	    <li><a href="http://127.0.0.1:8000/observatorio/consultas/">
	    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		  	Consultas
		</a></li>
	    <ul class="nav navbar-nav navbar-right">
	    <li><a href="#">
	    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
			About
	    </a></li>
	    <li class="dropdown">
	    
	    </li>
	    </ul>
	</div>
	</div>

	<!-- titulo -->
	<h1>
		<p> </p>
		<p class="text-center">Observatorio Nutricional</p>
		<p> </p>
	</h1>
  	</head>
	<body>
		<div class="row">
			<div class="col-md-2">
			<!-- Button menu -->
			<!-- esto no va aqui pero quiero guardarlo 
			<div class="btn-group-vertical" role="group" aria-label="...">
				<button type="button" class="btn btn-default">
					<p class="text-center">Comida</p>
				</button>
				<button type="button" class="btn btn-default">
					<p class="text-center">Ciudad</p>
				</button>
				<button type="button" class="btn btn-default">
					<p class="text-center">No se que mas xD</p>
				</button>
				<button type="button" class="btn btn-default">
					<p class="text-center">mmmmmm</p>
				</button>
				<button type="button" class="btn btn-default">
					<p class="text-center">y eso </p>
				</button>
			</div>
			-->


			</div>

			<div class="col-md-8">

			<section>
			<p> Actualmente tenemos registrados: </p>
			<ul>

			{% for dato in tipo %}
			<div class="radio">
			<label>
			<input type="radio" name="optionsRadios" id="optionsRadios{{forloop.counter}} " value="{{dato.tipo}}" checked>
			    {{dato.tipo}}
			</label>
			</div>
			<!--
			<a href="#" class="btn btn-default">{{dato.tipo}}</a>
				<li>{{dato.tipo}}</li>			-->
			{% endfor %}
			</ul>
			</section>

			<section>
			<p> Por favor seleccione la ciudad de la cual desea saber: </p>
			<ul>
			{% for dato in ciudad %}
			<div class="radio">
			<label>
			<input type="radio" name="optionsRadios2" id="optionsRadios2{{forloop.counter}} " value="{{dato.nombre}}" checked>
			    {{dato.nombre}}
			</label>
			</div>
			<!--
			<a href="#" class="btn btn-default">{{dato.tipo}}</a>
				<li>{{dato.tipo}}</li>			-->
			{% endfor %}
			</ul>
			</section>

			<a href="http://127.0.0.1:8000/observatorio/respuestas/" id="boton" class="btn btn-default">Realizar Búsqueda</a>

			<div id="contenedorTwit">bla</div>


			</div>
			<div class="col-md-2">
			</div>

		</div>
	</body>
</html>