<html>
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- nombre que lleva la pagina en la pestaña -->
    <title>Observatorio de Comida</title>
 
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
  	</head>
	<body>
		<!-- <div class="relativa">
			<div class="cuadrado"> --> 
				<h1> Titulo </h1>
				<p> El parrafo y la wea </p>
				<p > No se me ocurre que escribir para el contenido de esta pagina web </p>
			</div>
		<!-- </div> -->
	</body>
</html>